.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../../img/bg2.jpg') center (center/cover) no-repeat;

    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        line-height: 0.7;
        margin-top: 60px;
    }
}