.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 430px) {

        flex-direction: column;

    }

    &__logo {
        width: 250px;

        img {
            width: 100%;
        }

        @media (max-width: 620px) {
            display: none;
        }
    }



    .header__descr {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        text-align: center;

        span {
            display: block;
            font-size: 18px;

        }

        // @media (max-width: 620px) {
        //     display: none;
        // }
    }

    .header__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .header__phone {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;

        :hover {
            color: #fff;
            text-decoration: none;
        }

        @media (max-width: 720px) {
            font-size: 14px;
        }


    }


}