.slider {
    padding: 81px 0;

    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }



    .slick-prev,
    .slick-next {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        cursor: pointer;
        // background-color: red;

        width: 31px;
        height: 50px;

        img {
            width: 31px;
            height: 50px;
        }
    }

    .slick-next {
        right: -66px;
        left: auto;
    }

    // .slick-arrow {
    //     display: block;

    //     img {
    //         background-position: center;
    //         background-repeat: no-repeat;
    //         background-size: cover;
    //     }
    // }



}

.slick-arrow {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}