.title {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 620px) {
        font-size: 32px;
        text-align: center;

    }

    &_left {

        font-size: 36px;

    }
}